<ion-header [translucent]="true">
  <ion-toolbar color="fav">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-segment *ngIf="add_id === 1" [(ngModel)]="selectedSegment">
  <ion-segment-button value="first" content-id="first">
    <ion-label>Single Account</ion-label>
  </ion-segment-button>
  <ion-segment-button value="second" content-id="second">
    <ion-label>Split Account</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content class="ion-padding">

  <ng-container *ngIf="add_id === 1">
    <ion-segment-view>

      <!-- Add Account Form -->
      <ion-segment-content id="first">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input type="text" placeholder="Enter the account name" label="Account Name" labelPlacement="stacked" [(ngModel)]="params.account_name"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-select label="Type" label-placement="stacked" [(ngModel)]="params.account_type">
                <ion-select-option value="">Select Type</ion-select-option>
                <ion-select-option *ngFor="let type of types" [value]="type.type">
                  {{ type.type }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input type="number" placeholder="Initial Balance" label="Initial Balance" labelPlacement="stacked" [(ngModel)]="params.balance">
                <ion-label slot="start">MYR</ion-label>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-segment-content>

      <!-- Split Account Form -->
      <ion-segment-content id="second">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input type="number" placeholder="Initial Balance" label="Initial Balance" labelPlacement="stacked" [(ngModel)]="params.balance">
                <ion-label slot="start">MYR</ion-label>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-segment-content>
    </ion-segment-view>
    
  </ng-container>

  <!-- Add Expense Form -->
  <ng-container *ngIf="add_id === 2 ">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="number" placeholder="Enter expense amount" label="Amount" labelPlacement="stacked" [(ngModel)]="params.transaction_amount">
            <ion-label slot="start">MYR</ion-label>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-select label="Type" label-placement="stacked" [(ngModel)]="params.transaction_type" interface="popover" (ionChange)="getCategory($event)">
            <ion-select-option value="income">Income</ion-select-option>
            <ion-select-option value="expense">Expense</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Category {{ label ? '(' + label + ')' : '' }}</ion-label>
          <ion-select [(ngModel)]="params.transaction_category" [disabled]="disabled" label-placement="stacked">
            <ion-select-option value="">Select Category</ion-select-option>
            <ion-select-option *ngFor="let category of categories" [value]="category.type">
              {{ category.type }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
            <ion-select label="From Account" label-placement="stacked" [(ngModel)]="params.expenses_account">
              <ion-select-option *ngFor="let acc of accountUser" [value]="acc.id">
                <span class="ion-text-capitalize">{{acc.account_name | titlecase }}</span> ({{ acc.type }})
              </ion-select-option>
            </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-textarea class="ion-no-padding" label="Description" labelPlacement="stacked" [(ngModel)]="params.transaction_description"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input label="Date" id="open-date-popover" labelPlacement="stacked" [value]="params.transaction_date | date:'dd/MM/yyyy'" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-popover trigger="open-date-popover" showBackdrop="true">
      <ng-template>
        <ion-datetime presentation="date" (ionChange)="setDate($event)" [max]="maxDate"></ion-datetime>
      </ng-template>
    </ion-popover>

    
  </ng-container>
  
</ion-content>

<ion-footer>
  <ion-toolbar style="padding-left: 8px; padding-right: 8px">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Dismiss</ion-button>
    </ion-buttons>
    <ion-button slot="end" color="primary" (click)="onSubmit()"
      >Submit</ion-button
    >
  </ion-toolbar>
</ion-footer>
