ion-select,
ion-input {
    font-size: 14px;
  --border-color: #000;
  --border-radius: 10px;
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 16px;
  --padding-bottom: 16px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  margin-top: 4px;
  margin-bottom: 16px;
}
