<app-header title="Account List"></app-header>

<ion-content class="ion-padding">
  <!-- Skeleton Loader -->
  <ion-list *ngIf="loading; else accountData">
    <ion-card *ngFor="let skeleton of [1]" class="account-card">
      <ion-item lines="none" color="light">
        <ion-avatar slot="start">
          <ion-skeleton-text animated class="avatar-skeleton"></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2><ion-skeleton-text animated class="text-skeleton-120"></ion-skeleton-text></h2>
          <p><ion-skeleton-text animated class="text-skeleton-80"></ion-skeleton-text></p>
        </ion-label>
        <ion-icon name="chevron-forward" slot="end" color="primary"></ion-icon>
      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-skeleton-text animated class="text-skeleton-60"></ion-skeleton-text>
              <div class="mt-8">
                <ion-skeleton-text animated class="text-skeleton-100-18"></ion-skeleton-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- Actual Data -->
  <ng-template #accountData>
    <ion-list *ngIf="accounts.length === 0; else accountsList">
      <ion-item color="light" lines="none">
        <ion-icon name="warning-outline" slot="start" color="medium"></ion-icon>
        <ion-label>No account available. Please create a new account to make the budget.</ion-label>
      </ion-item>
    </ion-list>

    <ng-template #accountsList>
      <ion-card *ngFor="let account of accounts" button (click)="openAccount(type, account.id)" class="account-card ion-activated" >
        <ion-item lines="none" color="light">
          <ion-avatar slot="start">
            <ion-icon [name]="account.icon" color="primary" class="card-icon"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2 class="account-title">{{ account.account_name | titlecase }}</h2>
            <p class="account-subtitle">{{ account.type }} Account</p>
          </ion-label>
          <ion-icon name="chevron-forward" slot="end" color="primary"></ion-icon>
        </ion-item>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <div class="balance-label">Balance</div>
                <div class="balance-amount">{{ account.balance | currency: 'MYR ' }}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-template>
</ion-content>
