<app-header title="Transaction List"></app-header>

<ion-content>
     <ng-container *ngIf="loadings; else transactionContent">
       <ion-list lines="none">
         <ion-item *ngFor="let i of [1, 2, 3]">
            <ion-avatar slot="start" class="transaction-avatar placeholder-avatar">
               <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
             </ion-avatar>
           <ion-label>
             <h2><ion-skeleton-text animated style="width: 60%; height: 16px;"></ion-skeleton-text></h2>
             <p><ion-skeleton-text animated style="width: 40%; height: 14px;"></ion-skeleton-text></p>
           </ion-label>
           <div slot="end" class="ion-text-right placeholder-amount">
              <ion-skeleton-text animated style="width: 70px; height: 16px; margin-bottom: 4px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 50px; height: 12px;"></ion-skeleton-text>
           </div>
         </ion-item>
       </ion-list>
     </ng-container>

     <ng-template #transactionContent>
       <ion-list *ngIf="transactions.length > 0; else noTransactions" lines="full" class="transaction-list">
         <ion-item *ngFor="let record of transactions" button detail="false" class="transaction-item">
            <ion-avatar slot="start" class="transaction-avatar" [ngClass]="record.type">
               <ion-icon [name]="record.icon || (record.type === 'income' ? 'arrow-up' : 'arrow-down')" class="transaction-icon"></ion-icon>
             </ion-avatar>
           <ion-label>
             <h2 class="transaction-category">{{ record.category | titlecase }}</h2>
             <p class="transaction-account ion-text-capitalize">{{ record.account_name }}</p>
           </ion-label>
           <div slot="end" class="ion-text-right transaction-details">
             <p class="transaction-amount" [ngClass]="record.type">
               {{ record.type === 'income' ? '+' : '-' }}{{ record.amount | currency: 'MYR ' }}
             </p>
             <p class="transaction-date">{{ record.date | date: 'MMM d, h:mm a' }}</p>
           </div>
          </ion-item>
          <ion-button fill="clear" (click)="getTransactionsData(true)" *ngIf="displayMore" style="display: flex;justify-content: center;">
           Load More
         </ion-button>
        </ion-list>

       <ng-template #noTransactions>
         <div class="ion-padding ion-text-center text-muted">
           No recent transactions found. Add one using the button below!
         </div>
       </ng-template>
     </ng-template>
</ion-content>
