<ion-content [fullscreen]="true" color="login" class="ion-padding">
  <div class="full-height">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center ion-align-items-center full-height">
        <ion-col size="12" size-md="8" size-lg="6" class="ion-align-self-center">
            <ion-card style="box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.2);">
            <ion-card-header class="ion-text-center">
              <h1>Welcome</h1>
              <ion-card-title></ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <!-- Your card content here -->
              This is your card content
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content> 