<app-header title="Budget"></app-header>

<ion-content class="ion-padding">
  <!-- Show skeleton while loading -->
  <ng-container *ngIf="loading; else loadedContent">
    <ion-card *ngFor="let i of [1]" class="budget-card">
      <ion-item lines="none">
        <ion-icon name="wallet-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h2>
          <p>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-note slot="end" color="success">
          <ion-skeleton-text
            animated
            style="width: 50px; height: 16px"
          ></ion-skeleton-text>
        </ion-note>
      </ion-item>
    </ion-card>
  </ng-container>

  <!-- Actual content -->
  <ng-template #loadedContent>
    <ion-list *ngIf="budgets?.length === 0; else budgetList" lines="none">
      <div class="ion-padding ion-text-center text-muted" style="color:#000">
         You haven't set up any budgets yet. Plesase press '+' to create one.
      </div>
    </ion-list>

    <ng-template #budgetList>
      <ion-list lines="none" class="budget-list">
         <ion-item *ngFor="let budget of budgets" (click)="openBudget(budget)" class="budget-item" button detail="false">
            <ion-icon name="wallet-outline" slot="start" color="primary" class="budget-icon" style="padding-top: 12px ;"></ion-icon>
            <ion-label>
               <div class="budget-header">
                  <h2 class="budget-title">{{ budget.budget_name | titlecase }}</h2>
                  <ion-note class="budget-amount">
                     <b>{{ budget.amount | currency: 'MYR ' }}</b>
                  </ion-note>
               </div>
               <p class="budget-type">{{ budget.accounts }}</p>
               <div class="budget-summary">
                  <!-- <div class="budget-row">
                     <span>Used:</span>
                     <span>{{ budget.used_amount | currency: 'MYR ' }}</span>
                  </div> -->
                  <div class="budget-row">
                     <span>Remaining:</span>
                     <span [ngClass]="{'low-balance': (budget.balance_budget / budget.amount) < 0.1}">
                        {{ budget.balance_budget | currency: 'MYR ' }}
                     </span>
                  </div>
                  <ion-progress-bar
                     class="budget-progress"
                     [value]="budget.used_amount / budget.amount"
                     [color]="getProgressColor(budget)">
                  </ion-progress-bar>
                   <p class="update-date">
                     <ion-icon name="time-outline" class="update-icon"></ion-icon>
                     Updated: {{ budget.updated_at | date:'short' }}
                  </p>
               </div>
            </ion-label>
         </ion-item>
      </ion-list>
    </ng-template>
  </ng-template>

  <!-- FAB -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addBudget()" color="primary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
