:root {
	--ion-color-fav: #264653;
	--ion-color-fav-rgb: 38,70,83;
	--ion-color-fav-contrast: #ffffff;
	--ion-color-fav-contrast-rgb: 255,255,255;
	--ion-color-fav-shade: #213e49;
	--ion-color-fav-tint: #3c5964;
    --ion-background-fav: #264653;

	--ion-color-sub-fav: #56A3A6;
	--ion-color-sub-fav-rgb: 86,163,166;
	--ion-color-sub-fav-contrast: #000000;
	--ion-color-sub-fav-contrast-rgb: 0,0,0;
	--ion-color-sub-fav-shade: #4c8f92;
	--ion-color-sub-fav-tint: #67acaf;

	--ion-color-login: #F0F8FF;
	--ion-color-login-rgb: 240,248,255;
	--ion-color-login-contrast: #000000;
	--ion-color-login-contrast-rgb: 0,0,0;
	--ion-color-login-shade: #d3dae0;
	--ion-color-login-tint: #f2f9ff;

	--menu-background: #264653; /* Dark Slate Blue */
	--menu-text-color: #e2e8f0; /* Light Slate Gray (for text) */
	--menu-icon-color: #94a3b8; /* Medium Slate Gray (for icons) */
	--menu-item-hover-background: #334155; /* Slightly Lighter Dark Slate */
	--menu-item-selected-background: #33658a; /* Or your primary color */
	--menu-item-selected-text-color: var(--ion-color-primary-contrast); /* Contrast for selected background */
	--menu-item-selected-icon-color:#06d6a0;
	--menu-logout-background: #ef4444; /* Red for logout */
	--menu-logout-text-color: #ffffff;
	--menu-profile-name-color: #ffffff;
	--menu-profile-role-color: #cbd5e1; /* Lighter than general text */
	--menu-border-radius: 12px; /* Consistent border radius */
}   

.ion-color-fav {
	--ion-color-base: var(--ion-color-fav);
	--ion-color-base-rgb: var(--ion-color-fav-rgb);
	--ion-color-contrast: var(--ion-color-fav-contrast);
	--ion-color-contrast-rgb: var(--ion-color-fav-contrast-rgb);
	--ion-color-shade: var(--ion-color-fav-shade);
	--ion-color-tint: var(--ion-color-fav-tint);
}

.ion-color-sub-fav {
	--ion-color-base: var(--ion-color-sub-fav);
	--ion-color-base-rgb: var(--ion-color-sub-fav-rgb);
	--ion-color-contrast: var(--ion-color-sub-fav-contrast);
	--ion-color-contrast-rgb: var(--ion-color-sub-fav-contrast-rgb);
	--ion-color-shade: var(--ion-color-sub-fav-shade);
	--ion-color-tint: var(--ion-color-sub-fav-tint);
}

.ion-color-login {
	--ion-color-base: var(--ion-color-login);
	--ion-color-base-rgb: var(--ion-color-login-rgb);
	--ion-color-contrast: var(--ion-color-login-contrast);
	--ion-color-contrast-rgb: var(--ion-color-login-contrast-rgb);
	--ion-color-shade: var(--ion-color-login-shade);
	--ion-color-tint: var(--ion-color-login-tint);
}