:root {
	--ion-color-fav: #264653;
	--ion-color-fav-rgb: 38,70,83;
	--ion-color-fav-contrast: #ffffff;
	--ion-color-fav-contrast-rgb: 255,255,255;
	--ion-color-fav-shade: #213e49;
	--ion-color-fav-tint: #3c5964;
    --ion-background-fav: #264653;

	--ion-color-sub-fav: #56A3A6;
	--ion-color-sub-fav-rgb: 86,163,166;
	--ion-color-sub-fav-contrast: #000000;
	--ion-color-sub-fav-contrast-rgb: 0,0,0;
	--ion-color-sub-fav-shade: #4c8f92;
	--ion-color-sub-fav-tint: #67acaf;
}   

.ion-color-fav {
	--ion-color-base: var(--ion-color-fav);
	--ion-color-base-rgb: var(--ion-color-fav-rgb);
	--ion-color-contrast: var(--ion-color-fav-contrast);
	--ion-color-contrast-rgb: var(--ion-color-fav-contrast-rgb);
	--ion-color-shade: var(--ion-color-fav-shade);
	--ion-color-tint: var(--ion-color-fav-tint);
}

.ion-color-sub-fav {
	--ion-color-base: var(--ion-color-sub-fav);
	--ion-color-base-rgb: var(--ion-color-sub-fav-rgb);
	--ion-color-contrast: var(--ion-color-sub-fav-contrast);
	--ion-color-contrast-rgb: var(--ion-color-sub-fav-contrast-rgb);
	--ion-color-shade: var(--ion-color-sub-fav-shade);
	--ion-color-tint: var(--ion-color-sub-fav-tint);
}