.option-card {
  margin: 12px 12px;

  transition: transform 0.2s ease;
}

.option-card:hover {
  transform: scale(1.01);
}

ion-label h2 {
  margin: 0;
  font-weight: bold;
}

ion-label p {
  margin: 4px 0 0;
  font-size: 0.9em;
  color: var(--ion-color-medium);
}
