.title-card {
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: lightgray;
}

.center-row {
  display: flex;
  justify-content: center;
}

.m-card {
  margin-top: 16px;
}

.btn-add-acc {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
}

.add-account-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-icon {
  font-size: 24px;
  margin-left: 8px;
}

.account-card {
  color: #000;
  font-size: 14px;
}

.record-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.record-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a2a2a;
  font-size: 24px;
  color: #fff;
  padding: 10px;
}

.record-info {
  flex-grow: 1;
  padding: 0 15px;
}

.record-title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

.record-date,
.record-acc {
  margin: 0;
  font-size: 14px;
  color: #888;
}

.transaction-amount {
  text-align: right;
  font-weight: bold;
  font-size: 16px;
}

.income {
  color: #4caf50;
}

.expense {
  color: #f44336;
}

@media (max-width: 1500px) {
  .record-content {
    flex-direction: column;
  }
  
  .acc-card-content{
    padding: 8px 0px;
  }

  .record-icon {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .add-account-content {
    font-size: 12px;
  }

  ion-avatar {
    width: 50px;
    height: 50px;
  }

  .transaction-amount {
    align-self: flex-start;
    margin-top: 10px;
  }

  .record-info {
    text-align: center;
    width: 100%;
  }

  .account-card {
    color: #000;
    font-size: 12px;
  }

  .add-icon {
    font-size: 18px;
  }

  .title-card {
    font-size: 16px;
  }

  .record-title,
  .record-acc {
    font-size: 14px;
  }
  
  .record-date {
    text-align: left;
    font-size: 12px;
  }

  .income,
  .expense {
    font-size: 12px;
  }

}
