<app-header title="Dashboard"></app-header>

<ion-content>
  <ion-card class="ion-no-margin" color="fav" style="border-radius: 0px">
    <ion-card-content>
      <h1 class="title-card">List of accounts</h1>
      <ion-grid>
        <ion-row style="display: flex; justify-content: center">
          @if (items.length > 0) { 
            @for (item of items; track $index) {
              <ion-col size="12" [sizeMd]="2">
                <ion-card class="ion-no-margin">
                  <ion-card-content>
                    <div style="text-align: center">
                      <h2 style="text-transform: capitalize;"><b class="ion-text-capitalize">{{item.account_name}}</b></h2>
                      <p>MYR {{item.balance | twoDecimal}}</p>
                      <p>{{item.type}}</p>
                    </div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            }
          }@else{
          <ion-col size="12" [sizeMd]="12" style="text-align: center; color: lightgray" >
            You dont have any account.Let's create new one.
          </ion-col>
          }
        </ion-row>
        <ion-row style="display: flex; justify-content: center">
          <ion-col size="8" [sizeMd]="2">
            <ion-card class="ion-no-margin btn-add-acc" button="true" (click)="modalAddAccount()">
              <ion-card-content>
                <div style="text-align: center">
                  <div style="display: flex;align-items: center;justify-content: center;">
                    <b>Add Account</b>
                    <ion-icon [ios]="'add-circle-sharp'" [md]="'add-circle'" style="font-size: 24px; margin-left: 8px"></ion-icon>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card color="sub-fav" class="m-card">
    <ion-card-content class="ion-padding">
      <h1 class="title-card">Expenses Structure</h1>
      <ion-grid>
        <ion-row>
          @if (records.length > 0) { 
            @for (record of records; track $index) {
              <ion-col size="12">
                <ion-card class="ion-no-margin transaction-card">
                  <ion-card-content class="transaction-content">
                    <!-- <ion-avatar slot="start" class="category-icon">
                      <ion-icon [name]="getIcon(record.category)" class="icon-white"></ion-icon>
                    </ion-avatar> -->
                    <div class="transaction-info">
                      <h2 class="transaction-title">{{ record.category }}</h2>
                      <p class="transaction-date">{{ record.date | date:'MMM d' }}</p>
                    </div>
                    <div class="transaction-amount">
                      <p [ngClass]="{'income': record.type == 'income', 'expense': record.type == 'expense'}">
                        {{ record.type == 'income' ? '+' : '-' }}MYR {{ record.amount | number:'1.2-2' }}
                      </p>
                    </div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            }
          } @else {
            <ion-col size="12" style="text-align: center; color: lightgray">
              You don't have any account. Let's create a new one.
            </ion-col>
          }
        </ion-row>
      </ion-grid>
    </ion-card-content>
    
  </ion-card>
</ion-content>
<app-fab></app-fab>
