ion-card ion-card-header ion-card-title {
    font-weight: bold;
    text-align: center;
    color: #fff;
}

ion-card-content.text-center{
    text-align: center;
}

ion-card.m-card{
    margin-top: 16px;
}

.btn-add-acc{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}
canvas {
    height: 300px !important;
  }
  